<!DOCTYPE html>

<html lang="en">

<head>
    <title>A multiplayer game built using HTML5 canvas and WebSockets</title>
    <meta charset="utf-8">

    <link rel="stylesheet" href="style/reset.css">
    <link rel="stylesheet" href="style/game.css">
</head>

<body>

<div id="leftWrapper">

    <div id="back">
        <a href="/profile">BACK</a>
    </div>
    <div class="players">
        <ul>
            <p>YOU:</p>
            <li id="session-username"><%=  user.local.email %></li>
        </ul>
        <br/>
        <br/>
        <p>ALL PLAYERS:</p>
        <ul id="player-list">

        </ul>
    </div>
</div>

<div id="timer">
0
</div>

<div id="rightWrapper">
    <div id="previousWinnerContainer">
        <p>Last Round Winner:</p>
        <div id="winnerLastRound">...</div>
    </div>
</div>

<!--<img id="pika" src="assets/pika.png" alt="pika"/>-->


<div id="canvasWrap">
    <canvas id="gameCanvas"></canvas>
</div>

<div id="chatToggle">CHAT</div>
<div id="chat">
    <div id="chatbox">
        <!--
        Niels Lammens Niels Lammens Niels Lammens Niels Lammens Niels Lammens Niels Lammens<br>
        Niels Lammens Niels Lammens Niels Lammens Niels Lammens Niels Lammens Niels Lammens<br>
        Niels Lammens Niels Lammens Niels Lammens Niels Lammens Niels Lammens Niels Lammens<br>
        Niels Lammens Niels Lammens Niels Lammens Niels Lammens Niels Lammens Niels Lammens<br>
        Niels Lammens Niels Lammens Niels Lammens Niels Lammens Niels Lammens Niels Lammens<br>
        Niels Lammens Niels Lammens Niels Lammens Niels Lammens Niels Lammens Niels Lammens<br>
        Niels Lammens Niels Lammens Niels Lammens Niels Lammens Niels Lammens Niels Lammens<br>
        Niels Lammens Niels Lammens Niels Lammens Niels Lammens Niels Lammens Niels Lammens<br>
        Niels Lammens Niels Lammens Niels Lammens Niels Lammens Niels Lammens Niels Lammens<br>
        Niels Lammens Niels Lammens Niels Lammens Niels Lammens Niels Lammens Niels Lammens<br>
        Niels Lammens Niels Lammens Niels Lammens Niels Lammens Niels Lammens Niels Lammens<br>
        Niels Lammens Niels Lammens Niels Lammens Niels Lammens Niels Lammens Niels Lammens<br>
        Niels Lammens Niels Lammens Niels Lammens Niels Lammens Niels Lammens Niels Lammens<br>
        Niels Lammens Niels Lammens Niels Lammens Niels Lammens Niels Lammens Niels Lammens<br>
        Niels Lammens Niels Lammens Niels Lammens Niels Lammens Niels Lammens Niels Lammens<br>
        Niels Lammens Niels Lammens Niels Lammens Niels Lammens Niels Lammens Niels Lammens<br>
        Niels Lammens Niels Lammens Niels Lammens Niels Lammens Niels Lammens Niels Lammens<br>
        Niels Lammens Niels Lammens Niels Lammens Niels Lammens Niels Lammens Niels Lammens<br>
        -->
    </div>
    <input id="chatText" type="text"><div id="send">send</div>
</div>

<script src="http://192.168.7.226:8000/socket.io/socket.io.js"></script>

<script src="js/requestAnimationFrame.js"></script>
<script src="js/Keys.js"></script>
<script src="js/Player.js"></script>
<script src="js/Food.js"></script>
<script src="js/game.js"></script>
<script src="js/gui.js"v></script>
<script>
    // Initialise the game
    init();
    animate();
</script>
</body>
</html>