<!-- views/index.ejs -->
<!doctype html>
<html>
<head>
	<title>Node Authentication</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <link rel="stylesheet" href="style/style.css">
	<style>

	</style>
</head>
<body>
<div class="container">

    <h1 id="nameofgame">NAME OF THE GAME</h1>


    <div class="jumbotron text-center">

		<p>Login or Register:</p>

		<a href="/login" class="btn-index btn btn-default"><span class="fa fa-user"></span> LOGIN</a>
		<a href="/signup" class="btn-index btn btn-default"><span class="fa fa-user"></span> SIGNUP</a>
	</div>

</div>
</body>
</html>