@font-face {
    font-family: SQUARE;
    src: url(FORCED_SQUARE.ttf);
}

@font-face {
    font-family: SQUARE2;
    src: url(Square.ttf);
}


body {
	overflow: hidden;
    background-color: black;
    background-image: url("stardust2.png");

}

canvas {

    opacity: 1;
}

#canvasWrap
{
    width: 500px;
    height: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    background-color: black;
    border: 10px solid #fbfffd;
}

#pika
{
    width: 20px;
    height: auto;
}

#leftWrapper
{
    width: 20%;
    position: fixed;

}

#rightWrapper
{
    width: 20%;
    position: fixed;
    margin-left: 80%;
}

.players
{
    color: white;
    font-family: SQUARE;
    padding-left: 30px;
}

.players p
{
    font-size: 30px;
    font-weight: bolder;
    color: #5fcd6a;
    margin: 0;
    padding: 0;
}

.players li
{
    font-size: 22px;
    font-family: SQUARE2;
}

#timer {
    color: white;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 100%;
    text-align: center;
    font-size: 86px;
    font-weight: bolder;
    font-family: SQUARE;
    color: #5fcd6a;

}

#previousWinnerContainer
{
    text-align: right;
    padding-right: 30px;
    font-family: SQUARE;
    position: relative;
    top: -120px;
}

#previousWinnerContainer p
{
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    font-family: SQUARE;
    font-size: 30px;
    color: #5fcd6a;
}

#previousWinnerContainer div
{
    padding-right: 20px;
    font-size: 22px;
    font-family: SQUARE2;
    color: white;
    margin: 0;
    padding: 0;
}

#chatToggle
{
    position: fixed;
    width: 6%;
    min-width: 80px;
    height: 40px;
    margin-left: 47%;
    margin-right: 47%;
    background-color: #313037;
    border: 3px solid white;
    bottom: 0px;

    color: white;
    font-size: 22px;
    font-family: SQUARE2;
    text-align: center;
    line-height: 44px;

    cursor: pointer;

    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

#chat{
    position: fixed;
    width: 100.5%;
    height: 150px;
    border: 3px solid white;
    bottom: -160px;
    background-color: white;

    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

#chatToggle:hover{
    background-color: #5fcd6a;


}

#chatbox{
    height: 120px;
    width: 100%;
    background-color: #313037;
    overflow: scroll;
    position: relative;
    color: white;
    font-family: SQUARE2;
    letter-spacing: 1px;
    top: -10px;
    left: -3px;
    border: 3px solid white;
    padding-bottom: 10px;
}

#chatbox p{
    padding: 10px;
    padding-bottom: 0px;
}

#chatText{
    font-size: 22px;
    width:75%;
    height: 19px;
    position: absolute;
    bottom: 0;
    font-family: SQUARE2;
    letter-spacing: 1px;
    line-height: 20px;
}

textarea, input { outline: none; }

#send{
    position: absolute;
    height: 23px;
    width: 23.5%;
    bottom: 0;
    right: 15px;
    background-color: #5fcd6a;
    text-align: center;
    line-height: 30px;
    font-size: 25px;
    font-family: SQUARE;
    text-transform: uppercase;

    border: 1px solid grey;
}





@media screen and (max-width: 910px) {
    .players {
        display: none;
    }

    #previousWinnerContainer
    {
        display: none;
    }
}